langchain==0.3.17
langchain-core==0.3.33
langchain-community==0.3.16
pydantic==2.10.6
numexpr==2.10.2
langgraph==0.2.69
fastapi==0.115.8
langchain-openai==0.3.3
mangum==0.19.0
uvicorn==0.34.0
langsmith==0.3.6
